.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}

.error:before{
   font-family: FontAwesome;
   content: '\f057';
   font-size: 24px;
   color: #D8000C;
}