.sale-detail-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: calc(100vh - 131px); */
    padding: 10px;
    padding-top: 30px;
  }
  
  .sales-detail-container {
    max-width: 800px;
    width: 100%;
    padding: 30px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  }
  
  .sales-detail-container > .sales-title {
    font-size: 25px;
    font-weight: 500px;
    justify-content: start;
  }
  
  .sales-detail-container form .sales-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
   .sales-detail .input-box {
    width: 40%;
    margin: 20px 0 12px 0;
  }
  
  .sales-detail .input-box label {
    font-weight: 500;
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .sales-detail .input-box input {
    width: 100%;
    height: 38px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 15px;
    border-bottom-width: 1.5px;
    transition: all 0.3s ease;
  }
  
  .sales-detail > .input-box:nth-child(3) > textarea {
    width: 100%;
    height: 38px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
    border-bottom-width: 1.5px;
    transition: all 0.3s ease;
  }
  
  form .sales-detail .input-box select {
    width: 100%;
    height: 38px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 15px;
    border-bottom-width: 1.5px;
    transition: all 0.3s ease;
  }
  
  /* .sales-detail .input-box select:invalid,
  .sales-detail .input-box select option[value=""] {
    color: #999999;
  } */
  
  
  
  form .sales-detail .input-box input:focus {
    border-color: #5e81d1;
  }
  .sales-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .sales-btn button {
    width: 25%;
    padding: 10px;
    background-color: #5e81d1;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  
  .sales-btn button:hover {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  }
  
 .contact {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  

  .address_container {
      display: flex;
      flex-direction: column;
  }