.product{
     display: flex;
     
}

.product-img{
    height:50%;
    width:50%;
    border: 2rem;
}

.product_detail{
    display: flex;
    flex-direction: column;
}

.product-desc{
    font-size: medium;
}

.product-price{
    font-size: 2rem;
}

.add_btndetail{
     background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}